.carruselCard-container {
  min-height: 30%;
  min-width: 17%;
  border-radius: 5px;

  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  background-color: aliceblue;
}
.carruselCard-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.img-card {
  height: 200px;
}
.bodyCard {
  border-radius: 10px;
  min-height: 100px;
  min-width: 100%;
  text-align: center;
}

.nombreCard {
  min-height: 30%;
}
.textProduct {
  min-height: 60%;
  font-size: small;
}
.botonOne {
  left: 30px;
}
.botonTwo {
  right: 30px;
}
.botonOne,
.botonTwo {
  position: absolute;
  height: 60%;
  background-color: black;
  opacity: 0.3;
  top: 50%;
  transform: translate(0, -50%);
}
.botonTwo:hover,
.botonOne:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.carruselAll {
  display: flex;
  justify-content: space-between;
  position: relative;
}
