.card {
  min-height: 30%;
  min-width: 30%;
  border-radius: 5px;

  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  background-color: aliceblue;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  border-radius: 10px;
  min-height: 100px;
  min-width: 100%;
  text-align: center;
}
.card-text {
  min-height: 60%;
  font-size: small;
}
.card-title {
  min-height: 30%;
}
.card-img-top {
  height: 200px;
}
.btn {
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 251, 36);
  padding: 16px 22px;
  color: rgb(0, 0, 0);
}
