.row {
  padding: 2px 16px;
  display: flex;
  flex-wrap: wrap;

  align-items: stretch;
  min-width: 200px;
}
.header-infobar {
  width: 100%;
  padding: 10px 0px 0px 0px;
  height: 70px;
  background-color: rgb(250, 250, 54);
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
}
.navbar {
  padding: 10px 10px 10px 10px;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: rgb(250, 250, 54);
}
.logo {
  height: 34px;
  width: 134px;
}
.imagen-logo {
  padding: 0px 10px;
}
